

html {
  min-height: 100vh;
}

body{
  margin: 0;
  background:;
  background-position: center;
  text-align: center;
  margin-top: 75px;
  background-image: url('imgs/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  color: white;
  font-size: 3em;
}

#startBtn {
  height: 100px;
  width: 300px;
  /* margin-right: 100px; */
  position: relative;
  border: 6px solid black;
  padding: 20px;
  font-size: 40px;
  font-family: 'ariel', 'sans seriff';
  cursor: pointer;
  transition: .8s;
  color: white;
  box-shadow: inset 0 0 0 0 #02E5B8;
  background: linear-gradient(90deg, #1D08A8, #02E5B8);
  transition: ease-in-out .5s;

}

#startBtn:hover {
  box-shadow: inset 300px 0 0 0 #02E5B8;

}


#modal {
  background-color: rgba(0,0,0,.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#modal-textbox {
  background-image: url('imgs/modal-background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 550px;
  border-radius: 2px;
  margin: 150px auto;
  border: 10px solid black;
}

#close {
  font-size: 150%;
  font-family: monaco;
  color: black;
}

.title {
  color: darkblue;
  text-align: center;
  font-size: 300%;
  font-family: copperplate;
}

#searchbar {
  border: 2px solid black;
  height: 25px;
}

#searchbutton {
  border: 2px solid black;
  height: 30px;

}


form {
  text-align: center;
  justify-content: center;
  border: : 3px solid black;
  height: 25px;
}

dl {
  text-align: center;
  justify-content: center;
  font-size: 100%;
  font-family: monaco ;
  color: darkblue;

}
